<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light menu">
            <a class="navbar-brand" routerLink="/products">
                <img src="assets/images/innotical.jpeg" class="logoimg-section">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <img src="assets/images/cart-icon.png" routerLink="/cart" style="width: 35px;" alt="">{{count}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>