<app-header></app-header>
<div class="product-blocks">
        <div class="product-list">
                <img class="item-pic" src="assets/images/refrigerator.jpg" alt="">
                <h2 class="item-title">LG 679 L Frost Free</h2>
                <h3 class="item-prize">Prize: 73,990rs</h3>
                <button class="add-on" (click)="addToCart(1)">Add to cart</button>
        </div>
        <div class="product-list">
                <img class="item-pic" src="assets/images/washing_machine.jpg" alt="">
                <h2 class="item-title">LG 7Kg 5 Star</h2>
                <h3 class="item-prize">Prize: 29,690rs</h3>
                <button class="add-on" (click)="addToCart(2)">Add to cart</button>
        </div>
        <div class="product-list">
                <img class="item-pic" src="assets/images/laptop.jpg" alt="">
                <h2 class="item-title">Lenovo V15 Intel Core</h2>
                <h3 class="item-prize">Prize: 44,590rs</h3>
                <button class="add-on" (click)="addToCart(3)">Add to cart</button>
        </div>
</div>